<mat-sidenav-container
    fullscreen>
    <mat-sidenav 
        #sidenav 
        mode="push">
        <mat-toolbar>
            <span class="ml-menu-word">Menú</span>
        </mat-toolbar>
        <mat-list role="list">
            <mat-list-item 
                role="listitem"
                routerLink="/heros/list"
                (click)="sidenav.toggle()"
                class="c-pointer">
                <button mat-button>
                    <mat-icon mat-list-icon>label</mat-icon>
                    Listado de Héroes
                </button>
            </mat-list-item>
            <mat-list-item 
                role="listitem"
                routerLink="/heros/add"
                (click)="sidenav.toggle()"
                class="c-pointer">
                <button mat-button>
                    <mat-icon mat-list-icon>add</mat-icon>
                    Añadir Héroe
                </button>
            </mat-list-item>
            <mat-list-item 
                role="listitem"
                routerLink="/heros/search"
                (click)="sidenav.toggle()"
                class="c-pointer">
                <button mat-button>
                    <mat-icon mat-list-icon>search</mat-icon>
                    Buscar Héroe
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-toolbar>
        <button 
            mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button 
            mat-button
            (click)="logOut()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>