/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




/* *** Utilities *** */
.ml-menu-word {
    margin-left: 20px !important;
}
.c-pointer {
    cursor: pointer !important;
}
.spacer {
    flex: 1 1 auto;
}