/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* *** Utilities *** */
.mt-20 {
    margin-top: 20px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.ml-menu-word {
    margin-left: 20px !important;
}
.c-pointer {
    cursor: pointer !important;
}
.spacer {
    flex: 1 1 auto !important;
}
.w-100 {
    width: 100% !important;
}
.w-75 {
    width: 75% !important;
}
.br-5 {
    border-radius: 5px !important;
}
.fit-height {
    height: fit-content !important;
}


/* ** Material ** */
.mat-list-base .mat-list-item .mat-list-item-content {
    align-items: flex-start !important;
    padding: 0 !important;
}
.mat-list-base .mat-list-item .mat-list-item-content span {
    margin-right: 10px !important;
}
.mat-grid-tile .mat-figure {
    align-items: flex-start !important;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
    backdrop-filter: blur(54px) !important;
    background: rgba(0, 0, 0, 0.7) !important;
}
.mat-grid-tile {
    overflow: visible !important;
}