<h2>
    {{ ( hero.id ) ? 'Editar' : 'Nuevo' }} héroe: 
    <small>{{ hero.superhero }}</small></h2>
<div 
    fxLayout="row" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="40px" 
    fxLayoutGap.lt-sm="0px">
    <div 
        fxFlex="50" 
        fxFlex.lt-sm="100" 
        fxLayout="column"
        fxFlexOrder.lt-sm="1"
        class="fit-height">
        <div 
            fxLayout="row" 
            fxLayout.lt-sm="column" 
            fxLayoutGap="20px" 
            fxLayoutGap.lt-sm="0px">
            <mat-form-field fxFlex="100">
                <mat-label>Super Héroe</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="hero.superhero"
                    required>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Alter ego</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="hero.alter_ego"
                    required>
            </mat-form-field>
        </div>
        <mat-form-field fxFlex="100">
            <mat-label>Primera aparición</mat-label>
            <input
                matInput
                type="text"
                [(ngModel)]="hero.first_appearance"
                required>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input
                matInput
                type="text"
                [(ngModel)]="hero.characters"
                required>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select
                [(ngModel)]="hero.publisher" 
                required>
                <mat-option 
                    *ngFor="let publisher of publishers"
                    [value]="publisher.id">
                    {{ publisher.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Foto URL</mat-label>
            <input
                matInput
                type="url"
                [(ngModel)]="hero.alt_img"
                required>
        </mat-form-field>
        <div 
            fxLayout="row" 
            fxLayout.lt-sm="column" 
            fxLayoutAlign="space-between">
            <button 
                fxFlex="45"
                (click)="save()"
                mat-raised-button
                color="accent"
                ngClass.lt-sm="mt-20">
                <mat-icon>edit</mat-icon>
                {{ ( hero.id ) ? 'Actualizar' : 'Crear' }} 
            </button>
            <button
                *ngIf="hero.id"
                fxFlex="45"
                (click)="remove()"
                mat-raised-button
                color="warn"
                ngClass.lt-sm="mt-20">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>
    </div>
    <div 
        fxFlex="50"
        fxFlexOrder.lt-sm="2">
        <img 
            [src]="hero | image" 
            [alt]="hero.superhero"
            class="w-100 br-5"
            ngClass.lt-sm="mt-20">
    </div>
</div>